<!DOCTYPE html>
<html>
<head>
	<title></title>
	<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>
welocme to dashbord
<table class="table" border = "1px">
<tr>
	<th>no</th>
	<th>name</th>
	<th>email</th>
	<th>edit profile</th>
	<th>request</th>
</tr>
{% for row in row %}
<tr>
	<td>{{row.id}}</td>
	<td>{{row.name}}</td>
	<td>{{row.email}}</td>
	<td><a href="/edit_profile/{{row.id}}" class= "btn btn-success">Edit</a></td>
	<td><a href="/friend_request/{{row.id}}" class="btn btn-info">Request</a></td>
	<td><a href="/show_request/" class="btn btn-info">show</a></td>
</tr>
{% endfor %}
</table>
</body>
</html>
